<div class="container col s8" >
    <div class="row" >
      <nav>
        <div class="nav-wrapper" style= "width:100%; background-color: #6340ff">
          <div class="col s8">
            <h3 class="brand-logo col s8" >Registrese</h3>
          </div>
        </div>
      </nav>
  
    </div>
    <form [formGroup]= "fgCreacion" (ngSubmit)="CrearUsuario()" class="col s14">
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input formControlName="nombres" id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input formControlName="apellidos" id="last_name" type="text" class="validate">
          <label for="last_name">Apellidod</label>
        </div>
      </div>
      <div class="row">
        
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">email</i>
          <input formControlName="correo"id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">smartphone</i>
          
          <input formControlName="celular" id="password2" type="text" class="validate">
          <label for="password2">Celular</label>
        </div>

      </div>
    
      
      <div class="center">
        <input  [disabled]="!fgCreacion.valid" type="submit"  value="Registrarse" name="login" 
        class="btn waves-effect waves-light " 
        style="width:100%; background-color: #6340ff;">
    </div>
    </form>
  
  </div>
